################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bin/AnyCPU
/Converters/Toolkits.Converter.Avalonia/obj
/Converters/Toolkits.Converter.MAUI/obj
/Converters/Toolkits.Converter.Wpf/obj
/Toolkits.Core/obj
/Animations/Toolkits.Animation.Wpf/obj
/Popups/Toolkits.Popup.Core/obj
/Popups/Toolkits.Popup.Wpf/obj
/UITest/WPF_UI_TEST/bin
/UITest/WPF_UI_TEST/obj
/Controls/Toolkits.Controls.Core/obj
/Controls/Toolkits.Controls.Wpf/obj
/Test/Toolkits.Configuration.Test/bin
/Test/Toolkits.Configuration.Test/obj
/Toolkits.Configuration/obj
